{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "next",
    "airbnb",
    "plugin:import/typescript",
    "eslint-config-prettier"
  ],
  "globals": {
    "React": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "eslint-plugin-prettier"],
  "rules": {
    "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never" }],
    "import/order": [
      "warn",
      {
        "groups": [["builtin", "external"], ["internal"], ["parent", "sibling", "index"]],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "import/prefer-default-export": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react/function-component-definition": [
      "warn",
      { "namedComponents": "arrow-function", "unnamedComponents": "arrow-function" }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-props-no-spreading": ["error", { "exceptions": [] }],
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "import/resolver": "typescript"
  }
}
